<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    //下面这些事使用到缓存的时候需要用的
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--启动页-->
        <activity
            android:name=".ui.activity.StartupPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--广告页-->
        <activity
            android:name=".ui.activity.AdPagesActivity"
            android:screenOrientation="portrait" />

        <!--主页面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/mainactivity_name"
            android:screenOrientation="portrait" />

        <!--口袋妖怪主页-->
        <activity
            android:name=".ui.activity.PokemonMainActivity"
            android:screenOrientation="portrait" />

        <!--app介绍页面-->
        <activity
            android:name=".ui.activity.IntroductionActivity"
            android:screenOrientation="portrait" />

        <!--口袋妖怪详情页面-->
        <activity
            android:name=".ui.activity.PokemonDetailActivity"
            android:screenOrientation="portrait" />


        <!-- ***********************************测试用页面*********************************** -->
        <activity
            android:name=".ui.activity.test.AnimationTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.test.OkhttpTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.test.DialogTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.test.ThreadPoolTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SetPostUrlActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.QQMainActivity"
            android:screenOrientation="portrait" />

        <!-- ***********************************测试用页面*********************************** -->

    </application>

</manifest>