<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.myapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--主页面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/mainactivity_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!--欢迎界面-->
        <activity android:name=".ui.activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--头部功能按钮测试页面-->
        <activity android:name=".ui.activity.ToolsTabActivity"
            android:screenOrientation="portrait"/>

        <!--新闻头部分类按钮-->
        <activity android:name=".ui.activity.NewsTabbarActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>